$tile-size: 44px;
$margin-resp: 0;
$board-width: 5;
$board-height: 8;

body.mobile {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

.screen {
  padding: 5px;

  main {
    text-align: center;

    h1, h2 {
      font-size: 29px;
      width: 80%;
      margin: 0 auto;
    }

    a {
      margin: 10px auto;
    }
  }
}

.board,
.board-bg,
.board-fg {
  $bw: ($tile-size + $margin-resp*2)*$board-width;
  width: $bw;
  height: ($tile-size + $margin-resp*2)*$board-height;
  padding: $margin-resp*2;
  position: absolute;
  top: 0;
  left: calc(50% - #{ $bw/2 });
  margin: 0;
}

.board {
  top: 40px;
}

.tile {
  width: $tile-size;
  height: $tile-size;
  margin: $margin-resp;
  padding-top: 15px;
  font-size: 20px;

  &.selected {
      transition: top .6s, opacity .2s, transform .2s cubic-bezier(.19,.83,.48,.99), color 0s, background-color 0s;
  }

  &.glow {
    transition: top .6s, opacity .2s, transform .2s cubic-bezier(.19,.83,.48,.99), color 1s, background-color 1s;
  }
}

.bonus-indicator {
  width: ($tile-size - 2);
  height: ($tile-size - 2);
}

.help {
  display: none;
}

#mobile-keyboard {
  box-sizing: border-box;
  width: 100%;
  max-width: 480px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #E4EAEF; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .row {
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
  }

  .key,
  .keypress-indicator {
    box-sizing: border-box;
    color: #333;
    border-radius: 2px;
    padding: 7px;
    min-width: 30px;
    min-height: 45px;
    text-align: center;
  }

  .keypress-indicator {
    display: none;
    position: absolute;
    top: -45px;
    left: 50%;
    padding: 10px;
    background-color: #E4EAEF; 
    border: 1px solid darken(#E4EAEf, 10);
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
  }
}

}//end mobile mq
