$themes: (
  mint: (
    isLight: false,
    body-bg: #222,
    board-bg: lighten(#222, 5),
    text-color: #777,
    tile-body: #222,
    tile-highlight: #fff,
    special-color: #30B873,
    special-color-text: #fff,
    entering-color: #fff
  ),
  times: (
    isLight: true,
    body-bg: #eee,
    board-bg: #D6DEE5,
    text-color: #333,
    tile-body: #fff,
    tile-highlight: #4F85E5,
    special-color: #FFDA00,
    special-color-text: #000,
    entering-color: #4F85E5
  ),
  tres: (
    isLight: true,
    body-bg: #F9F9F9,
    board-bg: #CFE6DE,
    text-color: #454248,
    tile-body: #fff,
    tile-highlight: #FCCC64,
    special-color: #FF6780,
    special-color-text: #fff,
    entering-color: #66CBFF
  ),
  witch: (
    isLight: true,
    body-bg: #FCA5B9,
    board-bg: #723EDD,
    text-color: #722FAD,
    tile-body: #FFD5CE,
    tile-highlight: #FF698C,
    special-color: #77FFCC,
    special-color-text: #33CB87,
    entering-color: #FFD5CE
  ),
  wopr8: (
    isLight: false,
    body-bg: #06220B,
    board-bg: #000,
    text-color: #33C338,
    tile-body: #093309,
    tile-highlight: #33C338,
    special-color: #E0FE10,
    special-color-text: #093309,
    entering-color: #A537F8
  )
);

@each $theme, $map in $themes {
  body[data-theme="#{$theme}"] {
    background: map-get($map, body-bg);

    &, .screen {
      background: map-get($map, body-bg);
      color: map-get($map, text-color);
    }

    .subscreen {
      background: map-get($map, tile-highlight);
    }

    .screen section a {
      color: map-get($map, tile-highlight);
      border: 1px solid map-get($map, tile-highlight);

      &:hover {
        background: map-get($map, tile-highlight);
        color: map-get($map, body-bg);
      }
    }

    .puzzle-list li {
      border-color: map-get($map, tile-body);
      color: map-get($map, tile-body);

      &:hover {
        background: map-get($map, tile-body);
        color: map-get($map, tile-highlight);
        border-color: map-get($map, tile-body);
      }
    }

    .board {
      background: map-get($map, board-bg);
    }

    .tile {
      color: map-get($map, tile-highlight);
      background: map-get($map, tile-body);

      &.empty {
        background: transparent;
        border: 1px solid darken(map-get($map, board-bg), 10);
      }

      &.selected {
        color: map-get($map, tile-body);
        background-color: map-get($map, tile-highlight);
      }

      &.highlighted {
        border: 1px solid map-get($map, tile-highlight);
      }

      &.enter-buffer {
        background: transparent;
        border: 1px solid map-get($map, entering-color);
        color: map-get($map, entering-color);
      }

      //special
      &.special {
        color: map-get($map, special-color-text);
        background-color: map-get($map, special-color);
      }

      &.special.enter-buffer {
        background: transparent;
        border: 1px solid darken(map-get($map, special-color), 10);
        color: darken(map-get($map, special-color), 10);
      }

      &.special.selected {
        color: map-get($map, special-color-text);
        @if map-get($map, isLight) {
          background-color: darken(map-get($map, special-color), 25);
        }
        @else {
          background-color: lighten(map-get($map, special-color), 25);
        }
      }

      &.loading {
        color: lighten(map-get($map, tile-body), 10);
      }
    }//end tile styles

    .bonus-indicator {
      background: linear-gradient(rgba(48,35,174,0), map-get($map, special-color));
    }

    .uncollected-text {
      color: map-get($map, text-color);

      .collected {
        color: map-get($map, special-color);
      }
    }

    .word-bank-text {
      color: map-get($map, text-color);

      :not(.used):hover {
        color: lighten(map-get($map, text-color), 40);
      }

      .used {
        @if map-get($map, isLight) {
          color: darken(map-get($map, body-bg), 10);
        }
        @else {
          color: lighten(map-get($map, body-bg), 10);
        }
      }
    }

    .reset {
      border: 1px solid map-get($map, tile-highlight);
      color: map-get($map, tile-highlight);

      &:hover {
        background: map-get($map, tile-highlight);
        color:  map-get($map, tile-body);
      }

      &:active {
        background: map-get($map, special-color);
        color:  map-get($map, special-color-text);
        border: 1px solid map-get($map, special-color);
      }
    }

    .help {
      background: lighten(map-get($map, body-bg), 10);
    }

    .instructions {
      background-color: lighten(map-get($map, body-bg), 20);
      strong {
        color: map-get($map, tile-highlight);
      }

      strong.special {
        color: map-get($map, special-color);
      }
    }

  }//end theme
}//end each loop
