/* line 12, style.scss */
html, body, .screen {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/* line 18, style.scss */
body {
  width: 100vw;
  overflow: hidden;
}

/* line 23, style.scss */
.screen {
  box-sizing: border-box;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: -100vw;
  transition: left .6s .1s;
  font: normal normal 30px/1 "helvetica", sans-serif;
}
/* line 32, style.scss */
.screen.active {
  left: 0;
}
/* line 36, style.scss */
.screen main {
  max-width: 900px;
  margin: 100px auto;
}
/* line 40, style.scss */
.screen main .theme-select {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}
/* line 45, style.scss */
.screen main .theme-select li {
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
}
/* line 53, style.scss */
.screen main h1, .screen main h2 {
  font-size: 65px;
  width: 8em;
}
/* line 58, style.scss */
.screen main p {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 3em;
}
/* line 64, style.scss */
.screen main ul {
  margin-bottom: 3em;
}
/* line 69, style.scss */
.screen a {
  padding: 10px 15px;
  display: block;
  max-width: 10em;
  margin: 10px 10px 10px 0;
  text-decoration: none;
  border-radius: 4px;
}
/* line 77, style.scss */
.screen a:hover {
  color: #222;
  background: #FFFFFF;
}

/* line 84, style.scss */
#gameplay.active ~ #menu {
  left: -100vw;
}

/* line 85, style.scss */
#gameover.active ~ #menu {
  left: -200vw;
}

/* line 86, style.scss */
#menu.active ~ #gameplay {
  left: 100vw;
}

/* line 87, style.scss */
#gameover.active ~ #gameplay {
  left: -100vw;
}

/* line 88, style.scss */
#gameplay.active ~ #gameover {
  left: 100vw;
}

/* line 89, style.scss */
#menu.active ~ #gameover {
  left: 200vw;
}

/* line 91, style.scss */
.board,
.board-bg,
.board-fg {
  width: 300px;
  height: 480px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
}

/* line 102, style.scss */
.board {
  position: relative;
  margin: 50px auto;
}

/* line 107, style.scss */
.board-bg {
  align-items: flex-start;
  align-content: flex-start;
}

/* line 112, style.scss */
.board-fg .tile {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 118, style.scss */
.board-bg,
.board-fg {
  background: none;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 126, style.scss */
.tile {
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  font: normal normal 30px/1 "helvetica", sans-serif;
  padding-top: 12px;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  transition: top 0.6s, opacity 0.2s, transform 0.2s cubic-bezier(0.19, 0.83, 0.48, 0.99);
}
/* line 138, style.scss */
.tile.removed {
  opacity: 0;
  transform: translateY(-40px) rotate(20deg);
}
/* line 143, style.scss */
.tile.empty {
  border: 1px solid #151515;
  background: #2f2f2f;
  cursor: default;
}
/* line 154, style.scss */
.tile.highlighted {
  transition: border 1s;
}

/* line 176, style.scss */
.bonus-indicator {
  position: absolute;
  width: 48px;
  height: 48px;
  bottom: -15px;
  transition: left .6s .1s, top .6s .1s;
  animation: pulse 1.2s infinite alternate;
}

@-webkit-keyframes pulse {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.3;
  }
}
/* line 190, style.scss */
.reason {
  position: absolute;
  left: calc(50% + 190px);
  z-index: 10;
  color: #F33E58;
  font: normal normal 16px/1 'Apercu', sans-serif;
  padding-bottom: 10px;
  pointer-events: none;
  text-align: center;
  opacity: 0;
  min-width: 5em;
  transition: all .3s;
}
/* line 204, style.scss */
.reason.shown {
  opacity: 1;
}

/* line 209, style.scss */
.uncollected-text {
  position: absolute;
  top: 50px;
  right: calc(50% + 200px);
  font: normal normal 40px/1 'Apercu', sans-serif;
  width: 4em;
}
/* line 217, style.scss */
.uncollected-text span {
  display: inline-block;
}

/* line 222, style.scss */
.word-bank-text {
  position: absolute;
  top: 250px;
  right: calc(50% + 200px);
  font: normal normal 20px/1 'Apercu', sans-serif;
  width: 160px;
}
/* line 230, style.scss */
.word-bank-text span {
  display: block;
  text-transform: uppercase;
  line-height: 1.4;
}
/* line 236, style.scss */
.word-bank-text :not(.used):hover {
  color: #888888;
  cursor: pointer;
}
/* line 241, style.scss */
.word-bank-text .used {
  color: #555555;
}

/* line 246, style.scss */
.game-end-word-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  max-height: 300px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  overflow-x: scroll;
}
/* line 256, style.scss */
.game-end-word-list li {
  margin: 5px 40px 5px 0;
}

/* line 261, style.scss */
.help {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  padding: 5px;
  text-align: center;
  font: normal bold 40px/1 'Helvetica Neue', sans-serif;
  border-radius: 50%;
  cursor: pointer;
}
/* line 273, style.scss */
.help:after {
  content: "?";
  display: block;
  margin-top: 5px;
}

/* line 280, style.scss */
.instructions {
  display: none;
  position: absolute;
  width: auto;
  height: auto;
  margin: 0 50px;
  padding: 20px;
  top: 50px;
  right: 100px;
  border-radius: 5px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6);
}
/* line 292, style.scss */
.instructions h2 {
  margin-top: 0;
  font-size: 25px;
}
/* line 297, style.scss */
.instructions p {
  color: black;
  font-size: 16px;
  line-height: 1.3;
  max-width: 20em;
}

/* line 305, style.scss */
#mobile-keyboard {
  display: none;
}

/* line 6, _responsive.scss */
body.mobile {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 14, _responsive.scss */
body.mobile .screen {
  padding: 5px;
}
/* line 17, _responsive.scss */
body.mobile .screen main {
  text-align: center;
}
/* line 20, _responsive.scss */
body.mobile .screen main h1, body.mobile .screen main h2 {
  font-size: 29px;
  width: 80%;
  margin: 0 auto;
}
/* line 26, _responsive.scss */
body.mobile .screen main a {
  margin: 10px auto;
}
/* line 30, _responsive.scss */
body.mobile .screen main .mode-select.puzzle,
body.mobile .screen main .mode-select.waterfall,
body.mobile .screen main .mode-select.clear {
  display: none;
}
/* line 38, _responsive.scss */
body.mobile .board,
body.mobile .board-bg,
body.mobile .board-fg {
  width: 220px;
  height: 352px;
  padding: 0;
  position: absolute;
  top: 0;
  margin: 0;
}
/* line 50, _responsive.scss */
body.mobile .board {
  top: 40px;
  left: calc(50% - 110px);
}
/* line 56, _responsive.scss */
body.mobile .tile {
  width: 44px;
  height: 44px;
  margin: 0;
  padding-top: 15px;
  font-size: 20px;
}
/* line 63, _responsive.scss */
body.mobile .tile.selected {
  transition: top 0.6s, opacity 0.2s, transform 0.2s cubic-bezier(0.19, 0.83, 0.48, 0.99), color 0s, background-color 0s;
}
/* line 67, _responsive.scss */
body.mobile .tile.glow {
  transition: top 0.6s, opacity 0.2s, transform 0.2s cubic-bezier(0.19, 0.83, 0.48, 0.99), color 1s, background-color 1s;
}
/* line 72, _responsive.scss */
body.mobile .reason {
  left: 0;
  right: 0;
  transition: all .3s;
}
/* line 77, _responsive.scss */
body.mobile .reason.shown {
  opacity: 1;
  transition: all 0s;
}
/* line 82, _responsive.scss */
body.mobile .reason span {
  padding: 8px 12px;
  border-radius: 2px;
  background-color: black;
}
/* line 89, _responsive.scss */
body.mobile .bonus-indicator {
  width: 42px;
  height: 42px;
}
/* line 94, _responsive.scss */
body.mobile .uncollected-text {
  top: 40px;
  width: 50px;
  font-size: 25px;
}
/* line 100, _responsive.scss */
body.mobile .help {
  display: none;
}
/* line 104, _responsive.scss */
body.mobile .game-end-word-list {
  max-height: 230px;
}
/* line 107, _responsive.scss */
body.mobile .game-end-word-list li {
  font-size: 18px;
}
/* line 112, _responsive.scss */
body.mobile #mobile-keyboard {
  box-sizing: border-box;
  width: 100%;
  max-width: 480px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #E4EAEF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 124, _responsive.scss */
body.mobile #mobile-keyboard .row {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}
/* line 130, _responsive.scss */
body.mobile #mobile-keyboard .key,
body.mobile #mobile-keyboard .keypress-indicator {
  box-sizing: border-box;
  color: #333;
  border-radius: 2px;
  padding: 7px;
  min-width: 30px;
  min-height: 45px;
  text-align: center;
}
/* line 141, _responsive.scss */
body.mobile #mobile-keyboard .keypress-indicator {
  display: none;
  position: absolute;
  top: -45px;
  left: 50%;
  padding: 14px;
  font-size: 1.2em;
  background-color: #E4EAEF;
  border: 1px solid #c4d1dc;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

/* line 38, _themes.scss */
body.mint {
  background: #222;
}
/* line 41, _themes.scss */
body.mint, body.mint .screen {
  background: #222;
  color: #777;
}
/* line 46, _themes.scss */
body.mint .screen main a {
  color: #fff;
  border: 1px solid #fff;
}
/* line 50, _themes.scss */
body.mint .screen main a:hover {
  background: #fff;
  color: #222;
}
/* line 56, _themes.scss */
body.mint .board {
  background: #2f2f2f;
}
/* line 60, _themes.scss */
body.mint .tile {
  color: #fff;
  background: #222;
}
/* line 64, _themes.scss */
body.mint .tile.empty {
  background: transparent;
  border: 1px solid #151515;
}
/* line 69, _themes.scss */
body.mint .tile.selected {
  color: #222;
  background-color: #fff;
}
/* line 74, _themes.scss */
body.mint .tile.highlighted {
  border: 1px solid #fff;
}
/* line 78, _themes.scss */
body.mint .tile.enter-buffer {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
/* line 85, _themes.scss */
body.mint .tile.special {
  color: #fff;
  background-color: #30B873;
}
/* line 90, _themes.scss */
body.mint .tile.special.enter-buffer {
  background: transparent;
  border: 1px solid #25905a;
  color: #25905a;
}
/* line 96, _themes.scss */
body.mint .tile.special.selected {
  color: #fff;
  background-color: #4bd08d;
}
/* line 101, _themes.scss */
body.mint .tile.loading {
  color: #3c3c3c;
}
/* line 106, _themes.scss */
body.mint .bonus-indicator {
  background: linear-gradient(rgba(48, 35, 174, 0), #30B873);
}
/* line 110, _themes.scss */
body.mint .uncollected-text {
  color: #777;
}
/* line 113, _themes.scss */
body.mint .uncollected-text .collected {
  color: #30B873;
}
/* line 118, _themes.scss */
body.mint .word-bank-text {
  color: #777;
}
/* line 121, _themes.scss */
body.mint .word-bank-text :not(.used):hover {
  color: #dddddd;
}
/* line 125, _themes.scss */
body.mint .word-bank-text .used {
  color: #aaaaaa;
}
/* line 130, _themes.scss */
body.mint .help {
  background: #3c3c3c;
}
/* line 134, _themes.scss */
body.mint .instructions {
  background-color: #555555;
}
/* line 136, _themes.scss */
body.mint .instructions strong {
  color: #fff;
}
/* line 140, _themes.scss */
body.mint .instructions strong.purple {
  color: #30B873;
}

/* line 38, _themes.scss */
body.times {
  background: #D6DEE5;
}
/* line 41, _themes.scss */
body.times, body.times .screen {
  background: #D6DEE5;
  color: #3B3B3B;
}
/* line 46, _themes.scss */
body.times .screen main a {
  color: #4F85E5;
  border: 1px solid #4F85E5;
}
/* line 50, _themes.scss */
body.times .screen main a:hover {
  background: #4F85E5;
  color: #D6DEE5;
}
/* line 56, _themes.scss */
body.times .board {
  background: #eee;
}
/* line 60, _themes.scss */
body.times .tile {
  color: #4F85E5;
  background: #fff;
}
/* line 64, _themes.scss */
body.times .tile.empty {
  background: transparent;
  border: 1px solid #d5d5d5;
}
/* line 69, _themes.scss */
body.times .tile.selected {
  color: #fff;
  background-color: #4F85E5;
}
/* line 74, _themes.scss */
body.times .tile.highlighted {
  border: 1px solid #4F85E5;
}
/* line 78, _themes.scss */
body.times .tile.enter-buffer {
  background: transparent;
  border: 1px solid #92AFD0;
  color: #92AFD0;
}
/* line 85, _themes.scss */
body.times .tile.special {
  color: #000;
  background-color: #FFDA00;
}
/* line 90, _themes.scss */
body.times .tile.special.enter-buffer {
  background: transparent;
  border: 1px solid #ccae00;
  color: #ccae00;
}
/* line 96, _themes.scss */
body.times .tile.special.selected {
  color: #000;
  background-color: #ffe133;
}
/* line 101, _themes.scss */
body.times .tile.loading {
  color: white;
}
/* line 106, _themes.scss */
body.times .bonus-indicator {
  background: linear-gradient(rgba(48, 35, 174, 0), #FFDA00);
}
/* line 110, _themes.scss */
body.times .uncollected-text {
  color: #3B3B3B;
}
/* line 113, _themes.scss */
body.times .uncollected-text .collected {
  color: #FFDA00;
}
/* line 118, _themes.scss */
body.times .word-bank-text {
  color: #3B3B3B;
}
/* line 121, _themes.scss */
body.times .word-bank-text :not(.used):hover {
  color: #a1a1a1;
}
/* line 125, _themes.scss */
body.times .word-bank-text .used {
  color: #6e6e6e;
}
/* line 130, _themes.scss */
body.times .help {
  background: #f5f7f9;
}
/* line 134, _themes.scss */
body.times .instructions {
  background-color: white;
}
/* line 136, _themes.scss */
body.times .instructions strong {
  color: #4F85E5;
}
/* line 140, _themes.scss */
body.times .instructions strong.purple {
  color: #FFDA00;
}

/* line 38, _themes.scss */
body.tres {
  background: #F9F9F9;
}
/* line 41, _themes.scss */
body.tres, body.tres .screen {
  background: #F9F9F9;
  color: #454248;
}
/* line 46, _themes.scss */
body.tres .screen main a {
  color: #FCCC64;
  border: 1px solid #FCCC64;
}
/* line 50, _themes.scss */
body.tres .screen main a:hover {
  background: #FCCC64;
  color: #F9F9F9;
}
/* line 56, _themes.scss */
body.tres .board {
  background: #CFE6DE;
}
/* line 60, _themes.scss */
body.tres .tile {
  color: #FCCC64;
  background: #fff;
}
/* line 64, _themes.scss */
body.tres .tile.empty {
  background: transparent;
  border: 1px solid #add5c7;
}
/* line 69, _themes.scss */
body.tres .tile.selected {
  color: #fff;
  background-color: #FCCC64;
}
/* line 74, _themes.scss */
body.tres .tile.highlighted {
  border: 1px solid #FCCC64;
}
/* line 78, _themes.scss */
body.tres .tile.enter-buffer {
  background: transparent;
  border: 1px solid #66CBFF;
  color: #66CBFF;
}
/* line 85, _themes.scss */
body.tres .tile.special {
  color: #fff;
  background-color: #FF6780;
}
/* line 90, _themes.scss */
body.tres .tile.special.enter-buffer {
  background: transparent;
  border: 1px solid #ff3455;
  color: #ff3455;
}
/* line 96, _themes.scss */
body.tres .tile.special.selected {
  color: #fff;
  background-color: #ff9aab;
}
/* line 101, _themes.scss */
body.tres .tile.loading {
  color: white;
}
/* line 106, _themes.scss */
body.tres .bonus-indicator {
  background: linear-gradient(rgba(48, 35, 174, 0), #FF6780);
}
/* line 110, _themes.scss */
body.tres .uncollected-text {
  color: #454248;
}
/* line 113, _themes.scss */
body.tres .uncollected-text .collected {
  color: #FF6780;
}
/* line 118, _themes.scss */
body.tres .word-bank-text {
  color: #454248;
}
/* line 121, _themes.scss */
body.tres .word-bank-text :not(.used):hover {
  color: #aba7af;
}
/* line 125, _themes.scss */
body.tres .word-bank-text .used {
  color: #78737d;
}
/* line 130, _themes.scss */
body.tres .help {
  background: white;
}
/* line 134, _themes.scss */
body.tres .instructions {
  background-color: white;
}
/* line 136, _themes.scss */
body.tres .instructions strong {
  color: #FCCC64;
}
/* line 140, _themes.scss */
body.tres .instructions strong.purple {
  color: #FF6780;
}
