$tile-size: 50px;
$margin: 5px;
$board-width: 5;
$board-height: 8;

$bg: #222;
$light-yellow: #EFEA81;
$special-color: lavender;

html, body, .screen {
  margin: 0;
  padding: 0;
  background: $bg;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100vw;
  overflow: hidden;
}

.screen {
  position: absolute;
  background: $bg;
  width: 100vw;
  height: 100vh;
  left: -100vw;
  color: $light-yellow;
  transition: left .6s;
  font: normal normal 30px/1 "helvetica", sans-serif;

  &.active {
    left: 0;
  }

  main {
    max-width: 900px;
    margin: 250px auto;

    h1, h2 {
      font-size: 65px;
      width: 8em;
    }

    p {
      font-weight: normal;
      font-size: 18px;
      margin-bottom: 3em;
    }

    ul {
      margin-bottom: 3em;
    }
  }

  a {
    color: $light-yellow;
    border: 1px solid $light-yellow;
    padding: 10px 15px;
    display: block;
    max-width: 10em;
    margin: 10px 10px 10px 0;
    text-decoration: none;
    border-radius: 4px;

    &:hover {
      color: $bg;
      background: $light-yellow;
    }
  }
}

#gameplay.active ~ #menu { left: -100vw; }
#gameover.active ~ #menu { left: -200vw; }
#menu.active ~ #gameplay { left: 100vw; }
#gameover.active ~ #gameplay { left: -100vw; }
#gameplay.active ~ #gameover { left: 100vw; }
#menu.active ~ #gameover { left: 200vw; }

.board,
.board-bg, 
.board-fg, {
  width: ($tile-size + $margin*2)*$board-width;
  height: ($tile-size + $margin*2)*$board-height;
  background: lighten($bg, 5);
  padding: $margin*2;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
}

.board {
  position: relative;
  margin: 50px auto;
}

.board-bg {
  align-items: flex-start;
  align-content: flex-start;
}

.board-fg .tile {
  position: absolute;
  top: 0;
  left: 0;
}

.board-bg,
.board-fg {
  background: none;
  position: absolute;
  top: 0;
  left: 0;
}

.tile {
  display: block;
  width: $tile-size;
  height: $tile-size;
  color: $light-yellow;
  box-sizing: border-box;
  font: normal normal 30px/1 "helvetica", sans-serif;
  padding-top: 12px;
  text-align: center;
  border-radius: 5px;
  margin: $margin;
  cursor: pointer;
  background: $bg;
  transition: top .6s, opacity .2s, transform .2s cubic-bezier(.19,.83,.48,.99);

  &.removed {
    opacity: 0;
    transform: translateY((- $margin*8)) rotate(20deg);
  }

  &.empty {
    border: 1px solid darken($bg, 5);
    background: lighten($bg, 5);
    cursor: default;
  }

  &:not(.empty):hover {
    color: $bg;
    background-color: $light-yellow;
  }

  &.selected {
    color: $bg;
    background-color: $light-yellow;
  }

  &.highlighted {
    border: 1px solid $light-yellow;
  }

  &.enter-buffer {
    background: transparent;
    border: 1px solid $light-yellow;
    color: $light-yellow;
  }

  //special
  &.special {
    color: $special-color;
    background-color: darken($special-color, 20);
  }

  &.special.enter-buffer {
    background: transparent;
    border: 1px solid $special-color;
    color: $special-color;
  }

  &.special.selected {
    color: $bg;
    background-color: $special-color;
  }

  &.loading {
    color: lighten($bg, 10);
  }
}

.entry-indicator {
  position: absolute;
  top: 50px;
  $bw: ($tile-size + $margin*2)*$board-width;
  left: calc(50% - #{ $bw/2 + $tile-size });
  z-index: 10;
  outline: 0;
  background-color: #EFEA81;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  line-height: 0;
  cursor: pointer;
  transition: top .6s .1s;
}

.bonus-column-indicator {
  position: absolute;
  width: ($tile-size + $margin*2);
  height: 5px;
  bottom: -15px;
  background-color: $special-color;
  transition: left .6s .1s;
}

.reason {
  position: absolute;
  bottom: 50px;
  $bw: ($tile-size + $margin*2)*$board-width;
  left: calc(50% + #{ $bw/2 + $tile-size*0.8 });
  z-index: 10;
  color: #F33E58;
  font: normal normal 16px/1 'Apercu', sans-serif;
  padding-bottom: 10px;
}

.uncollected-text {
  position: absolute;
  top: 50px;
  $bw: ($tile-size + $margin*2)*$board-width;
  right: calc(50% + #{ $bw/2 + $tile-size });
  color: lighten($bg, 10);
  font: normal normal 40px/1 'Apercu', sans-serif;
  width: 4em;

  span {
    display: inline-block;
  }

  .collected {
    color: $special-color;
  }
}

.game-end-word-list {
  list-style-type: none;
  padding: 0;
}
