/* line 12, style.scss */
html, body, .screen {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/* line 18, style.scss */
body {
  width: 100vw;
  overflow: hidden;
}

/* line 23, style.scss */
.screen {
  box-sizing: border-box;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: -100vw;
  transition: left .6s .1s;
  font: normal normal 30px/1 "helvetica", sans-serif;
}
/* line 32, style.scss */
.screen.active {
  left: 0;
}
/* line 36, style.scss */
.screen section {
  max-width: 900px;
  margin: 100px auto;
  position: relative;
}
/* line 41, style.scss */
.screen section .mode-selectors {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 49%;
}
/* line 49, style.scss */
.screen section .theme-select {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}
/* line 54, style.scss */
.screen section .theme-select li {
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
}
/* line 62, style.scss */
.screen section h1, .screen section h2 {
  font-size: 45px;
  width: 8em;
}
/* line 67, style.scss */
.screen section p {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 3em;
  max-width: 20em;
  line-height: 1.3;
}
/* line 75, style.scss */
.screen section ul {
  margin-bottom: 3em;
}
/* line 80, style.scss */
.screen a {
  padding: 10px 15px;
  display: block;
  max-width: 10em;
  margin: 10px 10px 10px 0;
  text-decoration: none;
  border-radius: 4px;
}
/* line 88, style.scss */
.screen a:hover {
  color: #222;
  background: #FFFFFF;
}

/* line 95, style.scss */
.subscreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 100vh;
  transition: top .3s;
}
/* line 102, style.scss */
.subscreen section {
  max-width: 900px;
  margin: 100px auto;
  position: relative;
}

/* line 109, style.scss */
#puzzle-select.active {
  top: 0;
}

/* line 110, style.scss */
#gameplay.active ~ #menu {
  left: -100vw;
}

/* line 111, style.scss */
#gameover.active ~ #menu {
  left: -200vw;
}

/* line 112, style.scss */
#menu.active ~ #gameplay {
  left: 100vw;
}

/* line 113, style.scss */
#gameover.active ~ #gameplay {
  left: -100vw;
}

/* line 114, style.scss */
#gameplay.active ~ #gameover {
  left: 100vw;
}

/* line 115, style.scss */
#menu.active ~ #gameover {
  left: 200vw;
}

/* line 117, style.scss */
.board,
.board-bg,
.board-fg {
  width: 300px;
  height: 480px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
}

/* line 128, style.scss */
.board {
  position: relative;
  margin: 30px auto;
}

/* line 133, style.scss */
.board-bg {
  align-items: flex-start;
  align-content: flex-start;
}

/* line 138, style.scss */
.board-fg .tile {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 144, style.scss */
.board-bg,
.board-fg {
  background: none;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 152, style.scss */
.tile {
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  font: normal normal 30px/1 "helvetica", sans-serif;
  padding-top: 12px;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  transition: top 0.6s, opacity 0.2s, transform 0.2s cubic-bezier(0.19, 0.83, 0.48, 0.99);
}
/* line 164, style.scss */
.tile.removed {
  opacity: 0;
  transform: translateY(-40px) rotate(20deg);
}
/* line 169, style.scss */
.tile.empty {
  border: 1px solid #151515;
  background: #2f2f2f;
  cursor: default;
}
/* line 180, style.scss */
.tile.highlighted {
  transition: border 1s;
}

/* line 202, style.scss */
.bonus-indicator {
  position: absolute;
  width: 48px;
  height: 48px;
  bottom: -15px;
  transition: left .6s .1s, top .6s .1s;
  animation: pulse 1.2s infinite alternate;
}

@-webkit-keyframes pulse {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.3;
  }
}
/* line 216, style.scss */
.reason {
  position: absolute;
  left: calc(50% + 190px);
  z-index: 10;
  color: #F33E58;
  font: normal normal 16px/1 'Apercu', sans-serif;
  padding-bottom: 10px;
  pointer-events: none;
  text-align: center;
  opacity: 0;
  min-width: 5em;
  transition: all .3s;
}
/* line 230, style.scss */
.reason.shown {
  opacity: 1;
}

/* line 235, style.scss */
.uncollected-text {
  position: absolute;
  top: 50px;
  right: calc(50% + 200px);
  font: normal normal 40px/1 'Apercu', sans-serif;
  width: 4em;
}
/* line 243, style.scss */
.uncollected-text span {
  display: inline-block;
}

/* line 248, style.scss */
.word-bank-text {
  position: absolute;
  top: 250px;
  right: calc(50% + 200px);
  font: normal normal 20px/1 'Apercu', sans-serif;
  width: 160px;
}
/* line 256, style.scss */
.word-bank-text span {
  display: block;
  text-transform: uppercase;
  line-height: 1.4;
}
/* line 262, style.scss */
.word-bank-text :not(.used):hover {
  color: #888888;
  cursor: pointer;
}
/* line 267, style.scss */
.word-bank-text .used {
  color: #555555;
}

/* line 272, style.scss */
.reset {
  position: absolute;
  top: 580px;
  left: 50%;
  transform: translatex(-50%);
  border: 1px solid;
  padding: 10px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 1px;
}

/* line 287, style.scss */
.game-end-word-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  max-height: 300px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  overflow-x: scroll;
}
/* line 297, style.scss */
.game-end-word-list li {
  margin: 5px 40px 5px 0;
}

/* line 302, style.scss */
.help {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  padding: 5px;
  text-align: center;
  font: normal bold 40px/1 'Helvetica Neue', sans-serif;
  border-radius: 50%;
  cursor: pointer;
}
/* line 314, style.scss */
.help:after {
  content: "?";
  display: block;
  margin-top: 5px;
}

/* line 321, style.scss */
.instructions {
  display: none;
  position: absolute;
  width: auto;
  height: auto;
  margin: 0 50px;
  padding: 20px;
  top: 50px;
  right: 100px;
  border-radius: 5px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6);
}
/* line 333, style.scss */
.instructions h2 {
  margin-top: 0;
  font-size: 25px;
}
/* line 338, style.scss */
.instructions p {
  color: black;
  font-size: 16px;
  line-height: 1.3;
  max-width: 20em;
}

/* line 346, style.scss */
#mobile-keyboard {
  display: none;
}

/* line 6, _responsive.scss */
body.mobile {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 14, _responsive.scss */
body.mobile .screen {
  padding: 5px;
}
/* line 17, _responsive.scss */
body.mobile .screen section {
  text-align: center;
  margin-top: 20px;
}
/* line 21, _responsive.scss */
body.mobile .screen section h1, body.mobile .screen section h2 {
  font-size: 29px;
  width: 80%;
  margin: 0 auto;
}
/* line 27, _responsive.scss */
body.mobile .screen section a {
  margin: 10px auto;
}
/* line 31, _responsive.scss */
body.mobile .screen section .mode-selectors {
  display: block;
  position: static;
  width: 100%;
}
/* line 37, _responsive.scss */
body.mobile .screen section .mode-select.clear {
  display: none;
}
/* line 43, _responsive.scss */
body.mobile .board,
body.mobile .board-bg,
body.mobile .board-fg {
  width: 220px;
  height: 352px;
  padding: 0;
  position: absolute;
  top: 0;
  margin: 0;
}
/* line 55, _responsive.scss */
body.mobile .board {
  top: 20px;
  left: calc(50% - 110px);
}
/* line 61, _responsive.scss */
body.mobile .tile {
  width: 44px;
  height: 44px;
  margin: 0;
  padding-top: 15px;
  font-size: 20px;
}
/* line 68, _responsive.scss */
body.mobile .tile.selected {
  transition: top 0.6s, opacity 0.2s, transform 0.2s cubic-bezier(0.19, 0.83, 0.48, 0.99), color 0s, background-color 0s;
}
/* line 72, _responsive.scss */
body.mobile .tile.glow {
  transition: top 0.6s, opacity 0.2s, transform 0.2s cubic-bezier(0.19, 0.83, 0.48, 0.99), color 1s, background-color 1s;
}
/* line 77, _responsive.scss */
body.mobile .reason {
  left: 0;
  right: 0;
  transition: all .3s;
}
/* line 82, _responsive.scss */
body.mobile .reason.shown {
  opacity: 1;
  transition: all 0s;
}
/* line 87, _responsive.scss */
body.mobile .reason span {
  padding: 8px 12px;
  border-radius: 2px;
  background-color: black;
}
/* line 94, _responsive.scss */
body.mobile .bonus-indicator {
  width: 42px;
  height: 42px;
}
/* line 99, _responsive.scss */
body.mobile .uncollected-text {
  top: 40px;
  width: 50px;
  font-size: 25px;
}
/* line 105, _responsive.scss */
body.mobile .word-bank-text {
  left: 0;
  bottom: 70px;
  width: 100%;
  top: auto;
  padding: 20px 0;
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
}
/* line 116, _responsive.scss */
body.mobile .word-bank-text span {
  margin: 0 15px;
}
/* line 121, _responsive.scss */
body.mobile .help {
  display: none;
}
/* line 125, _responsive.scss */
body.mobile .game-end-word-list {
  max-height: 230px;
}
/* line 128, _responsive.scss */
body.mobile .game-end-word-list li {
  font-size: 18px;
}
/* line 133, _responsive.scss */
body.mobile .reset {
  top: auto;
  bottom: 20px;
}
/* line 138, _responsive.scss */
body.mobile #mobile-keyboard {
  box-sizing: border-box;
  width: 100%;
  max-width: 480px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #E4EAEF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 150, _responsive.scss */
body.mobile #mobile-keyboard .row {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}
/* line 156, _responsive.scss */
body.mobile #mobile-keyboard .key,
body.mobile #mobile-keyboard .keypress-indicator {
  box-sizing: border-box;
  color: #333;
  border-radius: 2px;
  padding: 7px;
  min-width: 30px;
  min-height: 45px;
  text-align: center;
}
/* line 167, _responsive.scss */
body.mobile #mobile-keyboard .keypress-indicator {
  display: none;
  position: absolute;
  top: -45px;
  left: 50%;
  padding: 14px;
  font-size: 1.2em;
  background-color: #E4EAEF;
  border: 1px solid #c4d1dc;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

/* line 60, _themes.scss */
body[data-theme="mint"] {
  background: #222;
}
/* line 63, _themes.scss */
body[data-theme="mint"], body[data-theme="mint"] .screen {
  background: #222;
  color: #777;
}
/* line 68, _themes.scss */
body[data-theme="mint"] .subscreen {
  background: #fff;
}
/* line 72, _themes.scss */
body[data-theme="mint"] .screen section a {
  color: #fff;
  border: 1px solid #fff;
}
/* line 76, _themes.scss */
body[data-theme="mint"] .screen section a:hover {
  background: #fff;
  color: #222;
}
/* line 82, _themes.scss */
body[data-theme="mint"] .board {
  background: #2f2f2f;
}
/* line 86, _themes.scss */
body[data-theme="mint"] .tile {
  color: #fff;
  background: #222;
}
/* line 90, _themes.scss */
body[data-theme="mint"] .tile.empty {
  background: transparent;
  border: 1px solid #151515;
}
/* line 95, _themes.scss */
body[data-theme="mint"] .tile.selected {
  color: #222;
  background-color: #fff;
}
/* line 100, _themes.scss */
body[data-theme="mint"] .tile.highlighted {
  border: 1px solid #fff;
}
/* line 104, _themes.scss */
body[data-theme="mint"] .tile.enter-buffer {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
/* line 111, _themes.scss */
body[data-theme="mint"] .tile.special {
  color: #fff;
  background-color: #30B873;
}
/* line 116, _themes.scss */
body[data-theme="mint"] .tile.special.enter-buffer {
  background: transparent;
  border: 1px solid #25905a;
  color: #25905a;
}
/* line 122, _themes.scss */
body[data-theme="mint"] .tile.special.selected {
  color: #fff;
  background-color: #88e0b3;
}
/* line 132, _themes.scss */
body[data-theme="mint"] .tile.loading {
  color: #3c3c3c;
}
/* line 137, _themes.scss */
body[data-theme="mint"] .bonus-indicator {
  background: linear-gradient(rgba(48, 35, 174, 0), #30B873);
}
/* line 141, _themes.scss */
body[data-theme="mint"] .uncollected-text {
  color: #777;
}
/* line 144, _themes.scss */
body[data-theme="mint"] .uncollected-text .collected {
  color: #30B873;
}
/* line 149, _themes.scss */
body[data-theme="mint"] .word-bank-text {
  color: #777;
}
/* line 152, _themes.scss */
body[data-theme="mint"] .word-bank-text :not(.used):hover {
  color: #dddddd;
}
/* line 156, _themes.scss */
body[data-theme="mint"] .word-bank-text .used {
  color: #3c3c3c;
}
/* line 166, _themes.scss */
body[data-theme="mint"] .reset {
  border: 1px solid #fff;
  color: #fff;
}
/* line 170, _themes.scss */
body[data-theme="mint"] .reset:hover {
  background: #fff;
  color: #222;
}
/* line 175, _themes.scss */
body[data-theme="mint"] .reset:active {
  background: #30B873;
  color: #fff;
  border: 1px solid #30B873;
}
/* line 182, _themes.scss */
body[data-theme="mint"] .help {
  background: #3c3c3c;
}
/* line 186, _themes.scss */
body[data-theme="mint"] .instructions {
  background-color: #555555;
}
/* line 188, _themes.scss */
body[data-theme="mint"] .instructions strong {
  color: #fff;
}
/* line 192, _themes.scss */
body[data-theme="mint"] .instructions strong.special {
  color: #30B873;
}

/* line 60, _themes.scss */
body[data-theme="times"] {
  background: #eee;
}
/* line 63, _themes.scss */
body[data-theme="times"], body[data-theme="times"] .screen {
  background: #eee;
  color: #333;
}
/* line 68, _themes.scss */
body[data-theme="times"] .subscreen {
  background: #4F85E5;
}
/* line 72, _themes.scss */
body[data-theme="times"] .screen section a {
  color: #4F85E5;
  border: 1px solid #4F85E5;
}
/* line 76, _themes.scss */
body[data-theme="times"] .screen section a:hover {
  background: #4F85E5;
  color: #eee;
}
/* line 82, _themes.scss */
body[data-theme="times"] .board {
  background: #D6DEE5;
}
/* line 86, _themes.scss */
body[data-theme="times"] .tile {
  color: #4F85E5;
  background: #fff;
}
/* line 90, _themes.scss */
body[data-theme="times"] .tile.empty {
  background: transparent;
  border: 1px solid #b7c5d1;
}
/* line 95, _themes.scss */
body[data-theme="times"] .tile.selected {
  color: #fff;
  background-color: #4F85E5;
}
/* line 100, _themes.scss */
body[data-theme="times"] .tile.highlighted {
  border: 1px solid #4F85E5;
}
/* line 104, _themes.scss */
body[data-theme="times"] .tile.enter-buffer {
  background: transparent;
  border: 1px solid #4F85E5;
  color: #4F85E5;
}
/* line 111, _themes.scss */
body[data-theme="times"] .tile.special {
  color: #000;
  background-color: #FFDA00;
}
/* line 116, _themes.scss */
body[data-theme="times"] .tile.special.enter-buffer {
  background: transparent;
  border: 1px solid #ccae00;
  color: #ccae00;
}
/* line 122, _themes.scss */
body[data-theme="times"] .tile.special.selected {
  color: #000;
  background-color: #806d00;
}
/* line 132, _themes.scss */
body[data-theme="times"] .tile.loading {
  color: white;
}
/* line 137, _themes.scss */
body[data-theme="times"] .bonus-indicator {
  background: linear-gradient(rgba(48, 35, 174, 0), #FFDA00);
}
/* line 141, _themes.scss */
body[data-theme="times"] .uncollected-text {
  color: #333;
}
/* line 144, _themes.scss */
body[data-theme="times"] .uncollected-text .collected {
  color: #FFDA00;
}
/* line 149, _themes.scss */
body[data-theme="times"] .word-bank-text {
  color: #333;
}
/* line 152, _themes.scss */
body[data-theme="times"] .word-bank-text :not(.used):hover {
  color: #999999;
}
/* line 156, _themes.scss */
body[data-theme="times"] .word-bank-text .used {
  color: #d5d5d5;
}
/* line 166, _themes.scss */
body[data-theme="times"] .reset {
  border: 1px solid #4F85E5;
  color: #4F85E5;
}
/* line 170, _themes.scss */
body[data-theme="times"] .reset:hover {
  background: #4F85E5;
  color: #fff;
}
/* line 175, _themes.scss */
body[data-theme="times"] .reset:active {
  background: #FFDA00;
  color: #000;
  border: 1px solid #FFDA00;
}
/* line 182, _themes.scss */
body[data-theme="times"] .help {
  background: white;
}
/* line 186, _themes.scss */
body[data-theme="times"] .instructions {
  background-color: white;
}
/* line 188, _themes.scss */
body[data-theme="times"] .instructions strong {
  color: #4F85E5;
}
/* line 192, _themes.scss */
body[data-theme="times"] .instructions strong.special {
  color: #FFDA00;
}

/* line 60, _themes.scss */
body[data-theme="tres"] {
  background: #F9F9F9;
}
/* line 63, _themes.scss */
body[data-theme="tres"], body[data-theme="tres"] .screen {
  background: #F9F9F9;
  color: #454248;
}
/* line 68, _themes.scss */
body[data-theme="tres"] .subscreen {
  background: #FCCC64;
}
/* line 72, _themes.scss */
body[data-theme="tres"] .screen section a {
  color: #FCCC64;
  border: 1px solid #FCCC64;
}
/* line 76, _themes.scss */
body[data-theme="tres"] .screen section a:hover {
  background: #FCCC64;
  color: #F9F9F9;
}
/* line 82, _themes.scss */
body[data-theme="tres"] .board {
  background: #CFE6DE;
}
/* line 86, _themes.scss */
body[data-theme="tres"] .tile {
  color: #FCCC64;
  background: #fff;
}
/* line 90, _themes.scss */
body[data-theme="tres"] .tile.empty {
  background: transparent;
  border: 1px solid #add5c7;
}
/* line 95, _themes.scss */
body[data-theme="tres"] .tile.selected {
  color: #fff;
  background-color: #FCCC64;
}
/* line 100, _themes.scss */
body[data-theme="tres"] .tile.highlighted {
  border: 1px solid #FCCC64;
}
/* line 104, _themes.scss */
body[data-theme="tres"] .tile.enter-buffer {
  background: transparent;
  border: 1px solid #66CBFF;
  color: #66CBFF;
}
/* line 111, _themes.scss */
body[data-theme="tres"] .tile.special {
  color: #fff;
  background-color: #FF6780;
}
/* line 116, _themes.scss */
body[data-theme="tres"] .tile.special.enter-buffer {
  background: transparent;
  border: 1px solid #ff3455;
  color: #ff3455;
}
/* line 122, _themes.scss */
body[data-theme="tres"] .tile.special.selected {
  color: #fff;
  background-color: #e70026;
}
/* line 132, _themes.scss */
body[data-theme="tres"] .tile.loading {
  color: white;
}
/* line 137, _themes.scss */
body[data-theme="tres"] .bonus-indicator {
  background: linear-gradient(rgba(48, 35, 174, 0), #FF6780);
}
/* line 141, _themes.scss */
body[data-theme="tres"] .uncollected-text {
  color: #454248;
}
/* line 144, _themes.scss */
body[data-theme="tres"] .uncollected-text .collected {
  color: #FF6780;
}
/* line 149, _themes.scss */
body[data-theme="tres"] .word-bank-text {
  color: #454248;
}
/* line 152, _themes.scss */
body[data-theme="tres"] .word-bank-text :not(.used):hover {
  color: #aba7af;
}
/* line 156, _themes.scss */
body[data-theme="tres"] .word-bank-text .used {
  color: #e0e0e0;
}
/* line 166, _themes.scss */
body[data-theme="tres"] .reset {
  border: 1px solid #FCCC64;
  color: #FCCC64;
}
/* line 170, _themes.scss */
body[data-theme="tres"] .reset:hover {
  background: #FCCC64;
  color: #fff;
}
/* line 175, _themes.scss */
body[data-theme="tres"] .reset:active {
  background: #FF6780;
  color: #fff;
  border: 1px solid #FF6780;
}
/* line 182, _themes.scss */
body[data-theme="tres"] .help {
  background: white;
}
/* line 186, _themes.scss */
body[data-theme="tres"] .instructions {
  background-color: white;
}
/* line 188, _themes.scss */
body[data-theme="tres"] .instructions strong {
  color: #FCCC64;
}
/* line 192, _themes.scss */
body[data-theme="tres"] .instructions strong.special {
  color: #FF6780;
}

/* line 60, _themes.scss */
body[data-theme="witch"] {
  background: #FCA5B9;
}
/* line 63, _themes.scss */
body[data-theme="witch"], body[data-theme="witch"] .screen {
  background: #FCA5B9;
  color: #722FAD;
}
/* line 68, _themes.scss */
body[data-theme="witch"] .subscreen {
  background: #FF698C;
}
/* line 72, _themes.scss */
body[data-theme="witch"] .screen section a {
  color: #FF698C;
  border: 1px solid #FF698C;
}
/* line 76, _themes.scss */
body[data-theme="witch"] .screen section a:hover {
  background: #FF698C;
  color: #FCA5B9;
}
/* line 82, _themes.scss */
body[data-theme="witch"] .board {
  background: #723EDD;
}
/* line 86, _themes.scss */
body[data-theme="witch"] .tile {
  color: #FF698C;
  background: #FFD5CE;
}
/* line 90, _themes.scss */
body[data-theme="witch"] .tile.empty {
  background: transparent;
  border: 1px solid #5823c5;
}
/* line 95, _themes.scss */
body[data-theme="witch"] .tile.selected {
  color: #FFD5CE;
  background-color: #FF698C;
}
/* line 100, _themes.scss */
body[data-theme="witch"] .tile.highlighted {
  border: 1px solid #FF698C;
}
/* line 104, _themes.scss */
body[data-theme="witch"] .tile.enter-buffer {
  background: transparent;
  border: 1px solid #FFD5CE;
  color: #FFD5CE;
}
/* line 111, _themes.scss */
body[data-theme="witch"] .tile.special {
  color: #33CB87;
  background-color: #77FFCC;
}
/* line 116, _themes.scss */
body[data-theme="witch"] .tile.special.enter-buffer {
  background: transparent;
  border: 1px solid #44ffb9;
  color: #44ffb9;
}
/* line 122, _themes.scss */
body[data-theme="witch"] .tile.special.selected {
  color: #33CB87;
  background-color: #00f79a;
}
/* line 132, _themes.scss */
body[data-theme="witch"] .tile.loading {
  color: white;
}
/* line 137, _themes.scss */
body[data-theme="witch"] .bonus-indicator {
  background: linear-gradient(rgba(48, 35, 174, 0), #77FFCC);
}
/* line 141, _themes.scss */
body[data-theme="witch"] .uncollected-text {
  color: #722FAD;
}
/* line 144, _themes.scss */
body[data-theme="witch"] .uncollected-text .collected {
  color: #77FFCC;
}
/* line 149, _themes.scss */
body[data-theme="witch"] .word-bank-text {
  color: #722FAD;
}
/* line 152, _themes.scss */
body[data-theme="witch"] .word-bank-text :not(.used):hover {
  color: #d6bbed;
}
/* line 156, _themes.scss */
body[data-theme="witch"] .word-bank-text .used {
  color: #fa7493;
}
/* line 166, _themes.scss */
body[data-theme="witch"] .reset {
  border: 1px solid #FF698C;
  color: #FF698C;
}
/* line 170, _themes.scss */
body[data-theme="witch"] .reset:hover {
  background: #FF698C;
  color: #FFD5CE;
}
/* line 175, _themes.scss */
body[data-theme="witch"] .reset:active {
  background: #77FFCC;
  color: #33CB87;
  border: 1px solid #77FFCC;
}
/* line 182, _themes.scss */
body[data-theme="witch"] .help {
  background: #fed6df;
}
/* line 186, _themes.scss */
body[data-theme="witch"] .instructions {
  background-color: white;
}
/* line 188, _themes.scss */
body[data-theme="witch"] .instructions strong {
  color: #FF698C;
}
/* line 192, _themes.scss */
body[data-theme="witch"] .instructions strong.special {
  color: #77FFCC;
}

/* line 60, _themes.scss */
body[data-theme="wopr8"] {
  background: #06220B;
}
/* line 63, _themes.scss */
body[data-theme="wopr8"], body[data-theme="wopr8"] .screen {
  background: #06220B;
  color: #33C338;
}
/* line 68, _themes.scss */
body[data-theme="wopr8"] .subscreen {
  background: #33C338;
}
/* line 72, _themes.scss */
body[data-theme="wopr8"] .screen section a {
  color: #33C338;
  border: 1px solid #33C338;
}
/* line 76, _themes.scss */
body[data-theme="wopr8"] .screen section a:hover {
  background: #33C338;
  color: #06220B;
}
/* line 82, _themes.scss */
body[data-theme="wopr8"] .board {
  background: #000;
}
/* line 86, _themes.scss */
body[data-theme="wopr8"] .tile {
  color: #33C338;
  background: #093309;
}
/* line 90, _themes.scss */
body[data-theme="wopr8"] .tile.empty {
  background: transparent;
  border: 1px solid black;
}
/* line 95, _themes.scss */
body[data-theme="wopr8"] .tile.selected {
  color: #093309;
  background-color: #33C338;
}
/* line 100, _themes.scss */
body[data-theme="wopr8"] .tile.highlighted {
  border: 1px solid #33C338;
}
/* line 104, _themes.scss */
body[data-theme="wopr8"] .tile.enter-buffer {
  background: transparent;
  border: 1px solid #A537F8;
  color: #A537F8;
}
/* line 111, _themes.scss */
body[data-theme="wopr8"] .tile.special {
  color: #093309;
  background-color: #E0FE10;
}
/* line 116, _themes.scss */
body[data-theme="wopr8"] .tile.special.enter-buffer {
  background: transparent;
  border: 1px solid #bfda01;
  color: #bfda01;
}
/* line 122, _themes.scss */
body[data-theme="wopr8"] .tile.special.selected {
  color: #093309;
  background-color: #f0ff8f;
}
/* line 132, _themes.scss */
body[data-theme="wopr8"] .tile.loading {
  color: #115e11;
}
/* line 137, _themes.scss */
body[data-theme="wopr8"] .bonus-indicator {
  background: linear-gradient(rgba(48, 35, 174, 0), #E0FE10);
}
/* line 141, _themes.scss */
body[data-theme="wopr8"] .uncollected-text {
  color: #33C338;
}
/* line 144, _themes.scss */
body[data-theme="wopr8"] .uncollected-text .collected {
  color: #E0FE10;
}
/* line 149, _themes.scss */
body[data-theme="wopr8"] .word-bank-text {
  color: #33C338;
}
/* line 152, _themes.scss */
body[data-theme="wopr8"] .word-bank-text :not(.used):hover {
  color: #cff3d1;
}
/* line 156, _themes.scss */
body[data-theme="wopr8"] .word-bank-text .used {
  color: #0e4d19;
}
/* line 166, _themes.scss */
body[data-theme="wopr8"] .reset {
  border: 1px solid #33C338;
  color: #33C338;
}
/* line 170, _themes.scss */
body[data-theme="wopr8"] .reset:hover {
  background: #33C338;
  color: #093309;
}
/* line 175, _themes.scss */
body[data-theme="wopr8"] .reset:active {
  background: #E0FE10;
  color: #093309;
  border: 1px solid #E0FE10;
}
/* line 182, _themes.scss */
body[data-theme="wopr8"] .help {
  background: #0e4d19;
}
/* line 186, _themes.scss */
body[data-theme="wopr8"] .instructions {
  background-color: #157927;
}
/* line 188, _themes.scss */
body[data-theme="wopr8"] .instructions strong {
  color: #33C338;
}
/* line 192, _themes.scss */
body[data-theme="wopr8"] .instructions strong.special {
  color: #E0FE10;
}
