$tile-size: 50px;
$margin: 5px;
$board-width: 5;
$board-height: 8;

$bg: #222;
//original: #EFEA81;
$light-yellow: #FFFFFF;
//original: lavender;
$special-color: #30B873;

html, body, .screen {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100vw;
  overflow: hidden;
}

.screen {
  box-sizing: border-box;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: -100vw;
  transition: left .6s .1s;
  font: normal normal 30px/1 "helvetica", sans-serif;

  &.active {
    left: 0;
  }

  section {
    max-width: 900px;
    margin: 100px auto;
    position: relative;

    .mode-selectors {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      width: 49%;
    }

    .theme-select {
      list-style-type: none;
      margin: 0; padding: 0;
      margin-bottom: 1em;

      li {
        font-size: 14px;
        display: inline-block;
        cursor: pointer;
        text-decoration: underline;
      }
    }

    h1, h2 {
      font-size: 45px;
      width: 8em;
    }

    p {
      font-weight: normal;
      font-size: 18px;
      max-width: 16em;
      margin: 1em 0 2em 0;
      line-height: 1.3;
    }

    ul {
      margin-bottom: 3em;
    }
  }

  a {
    padding: 10px 15px;
    display: block;
    max-width: 10em;
    margin: 10px 10px 10px 0;
    text-decoration: none;
    border-radius: 4px;

    &:hover {
      color: $bg;
      background: $light-yellow;
    }
  }
}

.subscreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 100vh;
  transition: top .3s;

  section {
    max-width: 900px;
    margin: 100px auto;
    position: relative;
  }
}

.puzzle-list {
  list-style-type: none;
  display: flex;
  padding: 0;

  li {
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
  }
}

#puzzle-select.active { top: 0; }
#gameplay.active ~ #menu { left: -100vw; }
#gameover.active ~ #menu { left: -200vw; }
#menu.active ~ #gameplay { left: 100vw; }
#gameover.active ~ #gameplay { left: -100vw; }
#gameplay.active ~ #gameover { left: 100vw; }
#menu.active ~ #gameover { left: 200vw; }

.board,
.board-bg, 
.board-fg {
  width: ($tile-size + $margin*2)*$board-width;
  height: ($tile-size + $margin*2)*$board-height;
  padding: $margin*2;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
}

.board {
  position: relative;
  margin: 30px auto;
}

.board-bg {
  align-items: flex-start;
  align-content: flex-start;
}

.board-fg .tile {
  position: absolute;
  top: 0;
  left: 0;
}

.board-bg,
.board-fg {
  background: none;
  position: absolute;
  top: 0;
  left: 0;
}

.tile {
  display: block;
  width: $tile-size;
  height: $tile-size;
  box-sizing: border-box;
  font: normal normal 30px/1 "helvetica", sans-serif;
  padding-top: 12px;
  text-align: center;
  margin: $margin;
  cursor: pointer;
  transition: top .6s, opacity .2s, transform .2s cubic-bezier(.19,.83,.48,.99);

  &.removed {
    opacity: 0;
    transform: translateY((- $margin*8)) rotate(20deg);
  }

  &.empty {
    border: 1px solid darken($bg, 5);
    background: lighten($bg, 5);
    cursor: default;
  }

  // &:not(.empty):hover {
  //   color: $bg;
  //   background-color: $light-yellow;
  // }

  &.highlighted {
    transition: border 1s;
  }
}

// .entry-indicator {
//   position: absolute;
//   top: 50px;
//   $bw: ($tile-size + $margin*2)*$board-width;
//   left: calc(50% - #{ $bw/2 + $tile-size });
//   z-index: 10;
//   outline: 0;
//   background-color: #EFEA81;
//   width: 12px;
//   height: 12px;
//   border-radius: 50%;
//   border: none;
//   line-height: 0;
//   cursor: pointer;
//   transition: top .6s;
// }

.bonus-indicator {
  position: absolute;
  width: ($tile-size - 2);
  height: ($tile-size - 2);
  bottom: -15px;
  transition: left .6s .1s, top .6s .1s;
  animation: pulse 1.2s infinite alternate;
}

@-webkit-keyframes pulse {
  from { opacity: .4 }
  to { opacity: .3 }
}

.reason {
  position: absolute;
  $bw: ($tile-size + $margin*2)*$board-width;
  left: calc(50% + #{ $bw/2 + $tile-size*0.8 });
  z-index: 10;
  color: #F33E58;
  font: normal normal 16px/1 'Apercu', sans-serif;
  padding-bottom: 10px;
  pointer-events: none;
  text-align: center;
  opacity: 0;
  min-width: 5em;
  transition: all .3s;

  &.shown {
    opacity: 1;
  }
}

.uncollected-text {
  position: absolute;
  top: 50px;
  $bw: ($tile-size + $margin*2)*$board-width;
  right: calc(50% + #{ $bw/2 + $tile-size });
  font: normal normal 40px/1 'Apercu', sans-serif;
  width: 4em;

  span {
    display: inline-block;
  }
}

.word-bank-text {
  position: absolute;
  top: 250px;
  $bw: ($tile-size + $margin*2)*$board-width;
  right: calc(50% + #{ $bw/2 + $tile-size });
  font: normal normal 20px/1 'Apercu', sans-serif;
  width: 160px;

  span {
    display: block;
    text-transform: uppercase;
    line-height: 1.4;
  }

  :not(.used):hover {
    color: lighten($bg, 40);
    cursor: pointer;
  }

  .used {
    color: lighten($bg, 20);
  }
}

.reset {
  position: absolute;
  $bg: ($tile-size + $margin*2)*$board-height;
  top: ($bg + 100);
  left: 50%;
  transform: translatex(-50%);

  border: 1px solid;
  padding: 10px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 1px;
}

.game-end-word-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  max-height: 300px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  overflow-x: scroll;

  li {
    margin: 5px 40px 5px 0;
  }
}

.help {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  padding: 5px;
  text-align: center;
  font: normal bold 40px/1 'Helvetica Neue', sans-serif;
  border-radius: 50%;
  cursor: pointer;

  &:after {
    content: "?";
    display: block;
    margin-top: 5px;
  }
}

.instructions {
  display: none;
  position: absolute;
  width: auto;
  height: auto;
  margin: 0 50px;
  padding: 20px;
  top: 50px;
  right: 100px;
  border-radius: 5px;
  box-shadow: 0 3px 20px rgba(0,0,0,0.6);

  h2 {
    margin-top: 0;
    font-size: 25px;
  }

  p {
    color: black;
    font-size: 16px;
    line-height: 1.3;
    max-width: 20em;
  }
}

#mobile-keyboard {
  display: none;
}

@import 'responsive';
@import 'themes';
