/* line 10, style.scss */
html, body, .screen {
  margin: 0;
  padding: 0;
  background: #222;
  -webkit-font-smoothing: antialiased;
}

/* line 17, style.scss */
body {
  width: 100vw;
  overflow: hidden;
}

/* line 22, style.scss */
.screen {
  position: absolute;
  background: #222;
  width: 100vw;
  height: 100vh;
  left: -100vw;
  color: #EFEA81;
  transition: left .6s;
  font: normal normal 30px/1 "helvetica", sans-serif;
}
/* line 32, style.scss */
.screen.active {
  left: 0;
}
/* line 36, style.scss */
.screen main {
  max-width: 900px;
  margin: 250px auto;
}
/* line 40, style.scss */
.screen main h1, .screen main h2 {
  font-size: 65px;
  width: 8em;
}
/* line 45, style.scss */
.screen main p {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 3em;
}
/* line 51, style.scss */
.screen main ul {
  margin-bottom: 3em;
}
/* line 56, style.scss */
.screen a {
  color: #EFEA81;
  border: 1px solid #EFEA81;
  padding: 10px 15px;
  display: block;
  max-width: 10em;
  margin: 10px 10px 10px 0;
  text-decoration: none;
  border-radius: 4px;
}
/* line 66, style.scss */
.screen a:hover {
  color: #222;
  background: #EFEA81;
}

/* line 73, style.scss */
#gameplay.active ~ #menu {
  left: -100vw;
}

/* line 74, style.scss */
#gameover.active ~ #menu {
  left: -200vw;
}

/* line 75, style.scss */
#menu.active ~ #gameplay {
  left: 100vw;
}

/* line 76, style.scss */
#gameover.active ~ #gameplay {
  left: -100vw;
}

/* line 77, style.scss */
#gameplay.active ~ #gameover {
  left: 100vw;
}

/* line 78, style.scss */
#menu.active ~ #gameover {
  left: 200vw;
}

/* line 80, style.scss */
.board,
.board-bg,
.board-fg {
  width: 300px;
  height: 480px;
  background: #2f2f2f;
  padding: 10px;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
}

/* line 92, style.scss */
.board {
  position: relative;
  margin: 50px auto;
}

/* line 97, style.scss */
.board-bg {
  align-items: flex-start;
  align-content: flex-start;
}

/* line 102, style.scss */
.board-fg .tile {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 108, style.scss */
.board-bg,
.board-fg {
  background: none;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 116, style.scss */
.tile {
  display: block;
  width: 50px;
  height: 50px;
  color: #EFEA81;
  box-sizing: border-box;
  font: normal normal 30px/1 "helvetica", sans-serif;
  padding-top: 12px;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  background: #222;
  transition: top 0.6s, opacity 0.2s, transform 0.2s cubic-bezier(0.19, 0.83, 0.48, 0.99);
}
/* line 131, style.scss */
.tile.removed {
  opacity: 0;
  transform: translateY(-40px) rotate(20deg);
}
/* line 136, style.scss */
.tile.empty {
  border: 1px solid #151515;
  background: #2f2f2f;
  cursor: default;
}
/* line 142, style.scss */
.tile:not(.empty):hover {
  color: #222;
  background-color: #EFEA81;
}
/* line 147, style.scss */
.tile.selected {
  color: #222;
  background-color: #EFEA81;
}
/* line 152, style.scss */
.tile.highlighted {
  border: 1px solid #EFEA81;
}
/* line 156, style.scss */
.tile.enter-buffer {
  background: transparent;
  border: 1px solid #EFEA81;
  color: #EFEA81;
}
/* line 163, style.scss */
.tile.special {
  color: lavender;
  background-color: #9191e9;
}
/* line 168, style.scss */
.tile.special.enter-buffer {
  background: transparent;
  border: 1px solid lavender;
  color: lavender;
}
/* line 174, style.scss */
.tile.special.selected {
  color: #222;
  background-color: lavender;
}
/* line 179, style.scss */
.tile.loading {
  color: #3c3c3c;
}

/* line 184, style.scss */
.entry-indicator {
  position: absolute;
  top: 50px;
  left: calc(50% - 200px);
  z-index: 10;
  outline: 0;
  background-color: #EFEA81;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  line-height: 0;
  cursor: pointer;
  transition: top .6s .1s;
}

/* line 201, style.scss */
.bonus-column-indicator {
  position: absolute;
  width: 60px;
  height: 5px;
  bottom: -15px;
  background-color: lavender;
  transition: left .6s .1s;
}

/* line 210, style.scss */
.reason {
  position: absolute;
  bottom: 50px;
  left: calc(50% + 190px);
  z-index: 10;
  color: #F33E58;
  font: normal normal 16px/1 'Apercu', sans-serif;
  padding-bottom: 10px;
}

/* line 221, style.scss */
.uncollected-text {
  position: absolute;
  top: 50px;
  right: calc(50% + 200px);
  color: #3c3c3c;
  font: normal normal 40px/1 'Apercu', sans-serif;
  width: 4em;
}
/* line 230, style.scss */
.uncollected-text span {
  display: inline-block;
}
/* line 234, style.scss */
.uncollected-text .collected {
  color: lavender;
}

/* line 239, style.scss */
.game-end-word-list {
  list-style-type: none;
  padding: 0;
}
